<div class="container">
  <div class="container-inner inner-default clearfix">
    <% amazon_items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% if image_url = item.get('LargeImage/URL') %>
              <%= image_tag( image_url, alt: item.get('ItemAttributes/Title')) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: item.get('ItemAttributes/Title')) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= item.get('ItemAttributes/Title') %>
          </p>
        </div>
        <div class="action clearfix">
          <% asin = item.get('ASIN') %>
          <% if stored_item = Item.find_by_asin(asin) %>
            <% want_btn_class = current_user.want?(stored_item) ? 'want_it' : 'want' %>
            <% have_btn_class = current_user.have?(stored_item) ? 'have_it' : 'have' %>
          <% else %>
            <% want_btn_class = 'want' %>
            <% have_btn_class = 'have' %>
          <% end %>
          <%= link_to "" , ownerships_path(asin: asin, type: "Want") ,
              :class => "want-#{asin} btn-want btn btn-danger btn-sm #{want_btn_class}",
              :remote => true,
              :method => :post %>
          <%= link_to "" , ownerships_path(asin: asin, type: "Have") ,
              :class => "have-#{asin} btn-have btn btn-warning btn-sm #{have_btn_class}",
              :remote => true,
              :method => :post %>
        </div>
      </div>
    <% end %>
  </div>
</div>
